.img12,.img13,.img14,
.img16,.img17,.img18,
.img31,.img32{
    border: 1px transparent solid;
    margin: auto;
    width: 50%;
    padding: 10px;
}
.h12,.h13,.h14,
.h31,.h32{
    text-align: center;
    font-family: Chandas;
}
.h2{
    text-align: center;
    font: bold;
    font-family: sans-serif;
    text-decoration: underline;
}
.hed{
    text-align: center;
    font-family: Chandas;
    text-decoration: underline;
}
.h16,.h17,.h18,.h30{
    font-family: Chandas;
}
